<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1018454013145-u989ad384rkkme6r999pmugfu7sk56sm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1018454013145-u989ad384rkkme6r999pmugfu7sk56sm</string>
	<key>API_KEY</key>
	<string>AIzaSyAq1DoSG56BB6kEf5nDme6b4PXAvBwvUew</string>
	<key>GCM_SENDER_ID</key>
	<string>1018454013145</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.erez8.TinderSwiftUI</string>
	<key>PROJECT_ID</key>
	<string>tinderapp-e6e7d</string>
	<key>STORAGE_BUCKET</key>
	<string>tinderapp-e6e7d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1018454013145:ios:cebf944eecd35f67c4bac8</string>
	<key>DATABASE_URL</key>
	<string>https://tinderapp-e6e7d.firebaseio.com</string>
</dict>
</plist>